[submodule "bootloader"]
	path = bootloader
	url = https://github.com/rust-osdev/bootloader.git
[submodule "defmt"]
	path = defmt
	url = https://github.com/knurling-rs/defmt.git
[submodule "addr2line"]
	path = addr2line
	url = https://github.com/gimli-rs/addr2line.git
